* {
    box-sizing: border-box;
}

:root {
    --green: #b9e38c;
    --lgreen: #def2c8;
    --blue: #545e75;
    --lblue: #a7cced;
}

img {
    max-width: 100%;
    object-fit: cover;
}

body {
    margin: 0;;
    background-color: var(--lblue);
}

nav {
    display: flex;
    background-color: var(--blue);
    padding: 1rem;
    width: 100%;
    overflow: auto;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
}

nav > a {
    border-radius: 0.25rem;
    padding: .5rem;
    display: inline-block;
    text-decoration: none;
    color: #b1b1b1;
    margin-right: 1rem;
    transition-duration: 1s;
    transition-property: color, background-color;
    transition-timing-function: ease;
    /* width: 25%; */
}

nav > a:hover {
    color:yellow;
    background-color: darkblue;
}

#hero {
    background-image: url("../images/inter2.png");
    background-size: cover;
    height: 60vh;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    background-color: var(--blue);
    color: #b1b1b1;
    padding: 2rem;
    font-size: 2rem;
}

/* .vbig-header {
    background-color: #545e75;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -350%);
    padding: 2em;
}

.vbig {
    text-align: center;
    color: #b1b1b1;
} */


.main-content {
    width: 100%;
    height: 930px;
    background-color: var(--blue);
}

.main-content-text {
    display: flex;
    justify-content: flex-end;
    background-color: var(--green);
}

.big-img {
    display: flex;
    justify-content: flex-start;

}

.buy-main {
    display: flex;
    justify-content: flex-end;
    background-color: var(--blue);
}


/* each row of content starts with this class */
section.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.row.background {
    background-color: var(--green);
}

/* each column of content has this class applied */
section.col {
    padding: 1em;
}

/* columns that are jalf of a row wide get this class applied */
.col.half {
    width: calc(97% / 3);
}

div {
    padding: 3rem;
    background-color: var(--blue);
}

section.sc {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

section.sc > section {
    background-color: var(--lgreen);
}

.vbig-img {
    width: 100%;
    height: 758px;
}

button {
    background-color: #fdca40
}

.button1 {
    width: 240px;
    height: 91px;
    font-size: larger;
}

.button2 {
    width: 150px;
    height: 30px;
}

footer {
    display: flex;
    background-color: var(--blue);
    padding: .002rem;
    color: #b1b1b1;
    justify-content: space-evenly;
}

.card2 {
    width: 48%;
    padding: 2em;
    border-radius: 2em;
    margin-bottom: 4rem;
}

.card {
    width: 30%;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 4rem;
}

 .sc {
    margin: 2em 0;
}

p {
    font-size: 22px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 26px;
}

a {
    font-size: 24px;
}

li {
    font-size: 22px;
}

/*
.sc3 {
    width: 30%;
} */